* {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

header {
	display: flex;
	align-items: center;
	padding: 8px 12px;
	justify-content: space-between;
}

li {
	padding: 0 10px;
}

a {
	text-decoration: none;
	color: #262626;
}

.title {
	display: flex;
	align-items: center;
}

.logo_title {
	font-size: 24px;
	font-weight: 900;
	height: 36px;
}

.menu {
	display: flex;
	list-style: none;
}

.logo {
	width: 60px;
}

.banner {
	width: 100%;
	height: 513px;
	background-image: url(/asset/coding-1841550_1920.jpg);
	background-size: cover;
	color: #ffffff;
	text-align: right;
}

.banner-text {
	padding-top: 215px;
	padding-right: 238px;
}

.banner-subtitle,
h1 {
	margin: 0;
}

h1 {
	font-size: 32px;
}

h3 {
	font-size: 35px;
	font-weight: bold;
}

.sec1icon {
	display: flex;
	justify-content: center;
	text-align: center;
	list-style: none;
	padding-left: 0;
	padding: 60px 42px;
}

.sec1icons {
	width: 170px;
}

strong {
	font-size: 48px;
}

.sec1title {
	text-align: center;
	margin-top: 80px;
}

.blue {
	color: #053df5;
}

.eachicon {
	margin: 20px 80px;
}

#section2 {
	background-color: #f6f6f6;
}

.sec2title {
	text-align: center;
	font-size: 32px;
	padding-top: 91px;
}

.sec2icons {
	width: 142px;
}

.sec2icon {
	display: flex;
	list-style: none;
	padding-left: 0;
	text-align: center;
	justify-content: center;
}

.eachicon2 {
	width: 295px;
	padding: 16px 24px;
	background-color: white;
	margin: 58px 83px;
	border-radius: 24px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	margin-bottom: 149px;
}
